.fm{

    width: 30%;
    margin: auto;
}
.fm input{
    margin-top: 20px;
    height: 50px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e4e4e4;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .content h1 {
    color: #2e7d32;
    font-size: 3em;
  }
  
  .content h3 {
    color: white;
    background-color: #2e7d32;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .content p {
    font-size: 1.2em;
    color: #4e342e;
    font-weight: bold;
  }
  
  .btn {
    background-color: #00879E !important;
    color: white;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-size: 12px;
    padding: 5px 10px ;
  }
  
  .image img {
    max-width: 400px;
  }
  